<div class="banner" style="background-image: url('<%= cl_image_path("idazzwvkm7ad2phk7gn2") %>');">
  <div class="banner-content">
   <!--  <h1>Terug in balans</h1> -->
    <p>I'm Greta and I will help you find your inner peace</p>
    <a class="btn btn-primary btn-lg">Newsletter</a>
  </div>
</div>
