<div class="navbar">
  <div class="logo">
   <h4> Lowel</h4>
   <p>Terug in balans</p>
  </div>

  <div class="navbar-links hidden-xs hidden-sm">

      <!-- navigation links -->
      <%= link_to "ABOUT", "#", class: "navbar-item navbar-link" %>
      <%= link_to "TREATMENTS", "#", class: "navbar-item navbar-link" %>
      <%= link_to "CONTACT", "#", class: "navbar-item navbar-link" %>

  </div>
</div>

